body
{
  background: url("images/fond_index1.jpg");
  /*background: url(https://lh3.google.com/u/0/d/1TWWpyUwoYfSeffeKiJv9CsH1MBQSjqwm=w1398-h923-iv1);*/
  background-attachment: fixed;
  background-size: cover;
 
  
} 

#main
{
  position: fixed;
  width: 50%;
  height: 620px;
  background:linear-gradient(.25turn, rgb(69, 136, 175), 70%, rgb(46, 108, 136) ) ;
  border-radius: 10px;
  top: 30px;
  left: 6%;
}

header
{
  display: flex;
  flex-direction: row;  
  height: 60px;
  flex-basis: auto; 
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 10px 10px 0px 0px;
}

section
{
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

h1
{
  margin: 0px;
  padding: 0px;
  font-size: 60px;
  text-align: center;
}

strong
{
  font-size: 100px;
}

nav
{
  display: flex;
  flex-grow: 1;
  width: 300px;
}

ul
{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  height: 20px;
  margin-top:40px;
}

nav ul li a
{
  display: flex;
  height: 25px;
  width: 65px;
  color:rgba(233, 233, 233, 0.856);
  text-decoration: none;
  justify-content: center;
    
}

ul a:hover
{
  height: 18px;
  border-bottom: rgb(255, 255, 255) solid ;
}

section p
{
  padding-top: 50px;
}

footer
{
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60); 
  border-radius: 0px 0px 10px 10px;
  color:rgba(233, 233, 233, 0.856);
}   

h4
{
  align-items: center;
  float: left;
  margin-top: 4px;
}

#mail
{
  padding-left: 10px;
}

#mail img
{
  margin-left: 15px;
  height: 30px;
  max-width: 100%;
  padding-top: 5px;
}

/****************************************************************************
**************************** page Galerie  ******************************
****************************************************************************/

.row
{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

/*The grid: Four equal columns that floats next to each other */
.column {
  float: left;
 
  padding: 10px;
}
  
/* Style the images inside the grid */
.column img {
  opacity: 0.6;
  max-width: 100px;
  min-height: auto;
  max-height: 100%; 
  cursor: pointer;
  border:1px solid rgb(255, 255, 255)  ;
}

.column img:hover {
  opacity: 1;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* The expanding image container */
.container {
  position: absolute;
  display: none;
  left: 60%;
  right: 5%;
  top: 90px;
  /*max-width: 65%;
  min-width: auto;*/
}
  
/* Expanding text image  */
#imgtext {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.514);
  max-width: 70%;
  padding: 5px;
  border-radius: 5px;    
}
  
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/****************************************************************************
**************************** Responsive  ************************************
****************************************************************************/

@media(max-width: 764px){
  #main
  {
    position: fixed;
    width: 88%;
  }

  h1
  {
    font-size: 30px;
  }
  .row
{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

/*The grid: Four equal columns that floats next to each other */
.column {
  width: 100px;
}

/* The expanding image container */
.container {
  left: 5%;
}
  



}